<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" href="indexStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <template v-if="!loggedin">
            <loginscreen v-on:logging-in="login"></loginscreen>
        </template>
        <template v-else>
            <authorizedview v-bind:user="user" v-bind:editingprofile="editingprofile" v-on:edit-profile="editingprofile=true"></authorizedview>           
            <profileeditor v-if="editingprofile" v-bind:user="user" v-on:change-profile-information="editprofile"></profileeditor>
            <logoutbutton v-on:log-out="logout"></logoutbutton>
        </template>

    </div>

      <script>
          Vue.component('loginscreen', {
            template: `
            <div class="unauthenticated">
                Log in with Google: <a href="/oauth2/authorization/google">click here</a>
            </div>
            `
          });
          Vue.component('logoutbutton', {
            template: `
                <div v-on:click="logout" id="logoutbutton">log out</div>
            `,
            methods: {
                logout(){
                    this.$emit('log-out');
                }
            }
          });
            Vue.component('profileeditor', {
                props: [ 'user' ],
                data() {
                    return {
                        username: undefined,
                        useradress: undefined,
                    }
                },
                template: `
                    <div class="informationcolumn">
                        <ul>
                            <li>Name: <input v-bind:placeholder="user.name" v-model="username"/></li>
                            <li>Rating: {{user.rating}}</li>
                            <li>Adress: <input v-bind:placeholder="user.adress" v-model="useradress" /></li>
                            <li>Tournaments: {{user.tournaments}}</li>
                        </ul>
                        <button v-on:click="submit">Submit</button>
                    </div>
                `,
                methods: {
                    submit(){
                        this.$emit('change-profile-information', this.username, this.useradress);
                    }
                }
            });
          Vue.component('authorizedview', {
              props: [ 'user', 'editingprofile'],
              template: `
                <div class="informationcolumn">
                    <ul>
                        <li>Name: {{user.name}}</li>
                        <li>Rating: {{user.rating}}</li>
                        <li>Adress: {{user.adress}}</li>
                        <li>Tournaments: {{user.tournaments}}</li>
                    </ul>
                    <button v-if="!editingprofile" v-on:click="edit">Edit</button>
                </div>
              `,
              methods: {
                  edit(){
                      this.$emit('edit-profile');
                  }
              }
          });
          const app = new Vue({
            el: "#app",
            data:{
                user : undefined,
                editingprofile : false
            },
            computed: {
                loggedin(){
                    return this.user != undefined;
                }
            },
            created:
                function () {
                    this.login();
            },
            methods: {
                async login(){
                    console.log("logging in");
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const response = await fetch("/user", {
                        method: 'GET',
                        headers: {
                            'Accept' : 'application/json',
                            'X-XSRF-TOKEN': cookie
                        }
                    });
                    if(response.status != 401){
                        const user = await response.json();
                        this.user = user;
                        console.log(user);
                    }
                },
                async logout(){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const response = await fetch("/logout", {
                        method: 'POST',
                        headers: {
                            'X-XSRF-TOKEN': cookie
                        }
                    });
                    this.user = undefined;
                },
                async editprofile(username, useradress){
                    this.user.name = username;
                    this.user.adress = useradress;
                    this.editingprofile = false;
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const response = await fetch("/editprofile", {
                        method: 'POST',
                        headers: {
                            'X-XSRF-TOKEN': cookie,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.user)
                    });
                },
                getCookie(cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
            }

          })
      </script>
</body>
</html>