html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

ul{  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#logoutbutton{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: aqua;
  border-style: solid;
  border-width: 2px;
}

#logoutbutton:hover{
  background-color: cornflowerblue;
}

#tournamentlist{
  position: absolute;
  top: 0px;
  left: 33%;
  top: 0px;
}
#boardgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#boardgrid > div{    
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}

#matcheditpopup{
  position: fixed;
  left: 45%;
  top:5%;
  transform: translate(-45%,5%);
  border: 2px solid #666;
  z-index: 9;
}

#matcheditformcontainer{
  align-items: center;
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}

#matcheditformcontainer input {
  max-width: 30px;
  border-style: solid;
  border-width: thin;
}

#matcheditformcontainer ul{
  position:relative;
  left: 45%;
  transform: translate(-22.5%);
}

.nrinput{
  width: 40px;
}

.informationbox, .informationcolumn{
  border-style: solid;
  border-width: thin;
  border-color: slategray;
  margin: 1%;
}

.informationcolumn{
  width: 32%;
}

.button{
  background-color: aqua;
  border-style: solid;
  border-width: 2px;
}

.button:hover{
  background-color: cornflowerblue;
}


.disabledbutton{
  background-color: blue;
  border-style: solid;
  border-width: 2px;
}