html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

ul{  
  list-style-type: none;
  padding: 0;
}

#logoutbutton{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: aqua;
  border-style: solid;
  border-width: 2px;
}

#logoutbutton:hover{
  background-color: cornflowerblue;
}

#tournamentlist{
  position: absolute;
  top: 0px;
  left: 33%;
  top: 0px;
  height: 97%;
}

.informationbox, .informationcolumn{
  border-style: solid;
  border-width: thin;
  border-color: slategray;
  margin: 1%;
}

.informationcolumn{
  width: 32%;
}