<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" href="indexStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <template v-if="editingprofile">
            <profileeditor 
                v-bind:user="user"
                v-bind:editprofilemessage="editprofilemessage"
                v-on:change-profile-information="checkInputAndEditProfile">
            </profileeditor>
            <logoutbutton 
                v-on:log-out="logout">
            </logoutbutton>
        </template>
        <template v-else-if="planning != null">
            <planningscreen 
                v-bind:planning="planning"
                v-on:edit-match="match => this.matchToEdit = match">
            </planningscreen>
        </template>
        <template v-else>
            <template v-if="!loggedin">
                <loginscreen v-on:logging-in="login"></loginscreen>
            </template>
            <template v-else>
                <accountview 
                    v-bind:user="user" 
                    v-bind:editingprofile="editingprofile" 
                    v-on:edit-profile="editingprofile=true">
                </accountview>
                <button v-on:click="createPlayers">Create players</button>
                <logoutbutton 
                    v-on:log-out="logout">
                </logoutbutton>
            </template>
            <tournamentlist
                id="tournamentlist" 
                v-bind:tournaments="tournaments"
                v-bind:loggedin="loggedin" 
                v-on:create-tournament="startTournamentCreation"
                v-on:edit-tournament="startTournamentEdit"
                v-on:sign-up="signUpForTournament"
                v-on:close-tournament="closetournament"
                v-on:create-planning="createplanning"
                v-on:view-planning="viewplanning">
            </tournamentlist>
            <tournamentcreator 
                v-if="creatingtournament" 
                v-on:create-tournament="createtournament"
                v-bind:tournamentprop="tournamenttoedit"
                v-bind:message="edittournamentmessage">
            </tournamentcreator>
            <tournamenteditor 
                v-if="editingtournament" 
                v-on:edit-tournament="edittournament" 
                v-bind:tournamentprop="tournamenttoedit"
                v-bind:message="edittournamentmessage">
            </tournamenteditor>
        </template>
    </div>

      <script>
        Vue.component('matchscreen', {
            props: [ 'matchToEdit' ],
            data() {
                return{
                    match: this.matchToEdit,
                }
            },
            template: `
                <div id="matcheditpopup">
                    <ul>
                        <li><input v-model="match.games[0].pointsPlayer1" /></li>
                    </ul>
                </div>
            `,
            methods :{

            }
        });
        Vue.component('planningscreen', {
            props: [ 'planning' ],
            template: `
                <div id="boardgrid">
                    <template v-for="(round, index) in planning.rounds" >
                        <div 
                            v-for="(match, index2) in round.matches" 
                            v-bind:style="{'grid-column-start': index+1, 'grid-row-start': (index2+1)*(index+1)}"
                            v-on:click="editmatch(match)">
                            <template v-if="match.players[0] != null">{{match.players[0].name}}</br></template>
                            <template v-else>No player1</br></template>
                            <template v-if="match.players[1] != null">{{match.players[1].name}}</br></template>                        
                            <template v-else>No player 2</br></template>
                        </div>
                    </template>
                </div>
            `,
            methods: {
                editmatch(match){
                    if(match.players[0] != null && match.players[1] != null){
                        this.$emit('edit-match', match);
                    }
                    else{
                        window.alert("This match is not ready yet.");
                    }
                }
            }
        });
        Vue.component('loginscreen', {
            template: `
                <div class="unauthenticated">
                    Log in with Google: <a href="/oauth2/authorization/google">click here</a>
                </div>
            `
        });
        Vue.component('logoutbutton', {
            template: `
                <div v-on:click="logout" id="logoutbutton">log out</div>
            `,
            methods: {
                logout(){
                    this.$emit('log-out');
                }
            }
        });
        Vue.component('profileeditor', {
            props: [ 'user', 'editprofilemessage' ],
            data() {
                return {
                    username: this.user.name,
                    useradress: this.user.adress,
                    userrating: this.user.rating,
                }
            },
            template: `
                <div class="informationcolumn">
                    <ul>
                        <li>Name: <input v-model="username"/></li>
                        <li>Rating: <input v-model="userrating" /></li>
                        <li>Street: <input v-model="useradress.street" /> <input v-model="useradress.streetnumber" class="nrinput" placeholder="nr."/></li>
                        <li>City: <input v-model="useradress.city" /></li>
                        <li>Postal code: <input v-model="useradress.postalcode" placeholder="1234AB" /></li>
                    </ul>
                    <button v-on:click="submit">Submit</button>
                    <span v-if="editprofilemessage!=undefined">{{editprofilemessage}}</span>
                </div>
            `,
            methods: {
                submit(){
                    this.$emit('change-profile-information', this.username, this.useradress, this.userrating);
                }
            }
        });
        Vue.component('tournamentcreator', {
            props: [ 'tournamentprop', 'message' ],
            data(){
                return {
                    tournament: this.tournamentprop
                }
            },
            template: `
                <div class="informationcolumn">
                    <ul>
                        <li><input v-model="tournament.name" placeholder="Tournament name" /></li>
                        <li><input v-model="tournament.club" placeholder="Club" /></li>
                        <li>Street: <input v-model="tournament.adress.street" /> <input v-model="tournament.adress.streetnumber" class="nrinput" placeholder="nr."/></li>
                        <li>City: <input v-model="tournament.adress.city" /></li>
                        <li>Postal code: <input v-model="tournament.adress.postalcode" placeholder="1234AB" /></li>
                        <li><input v-model="tournament.tournamentDate" type="datetime-local" /></li>
                        <li><input v-model="tournament.maxParticipants" type="text" placeholder="Maximum number of participants" /></li>
                    </ul>
                    <button v-on:click="submit">Submit</button><span v-if="message != undefined">{{message}}</span>
                </div>
            `,
            methods: {
                submit(){
                    this.$emit('create-tournament', this.tournament);
                }
            }
        });
        Vue.component('tournamenteditor', {
            props: [ 'tournamentprop', 'message' ],
            data(){
                return {
                    tournament: this.tournamentprop
                }
            },
            template: `
                <div class="informationcolumn">
                    <ul>
                        <li><input v-model="tournament.name" placeholder="Tournament name" /></li>
                        <li><input v-model="tournament.club" placeholder="Club" /></li>
                        <li>Street: <input v-model="tournament.adress.street" /> <input v-model="tournament.adress.streetnumber" class="nrinput" placeholder="nr."/></li>
                        <li>City: <input v-model="tournament.adress.city" /></li>
                        <li>Postal code: <input v-model="tournament.adress.postalcode" placeholder="1234AB" /></li>
                        <li><input v-model="tournament.tournamentDate" type="datetime-local" /></li>
                        <li><input v-model="tournament.maxParticipants" type="text" placeholder="Maximum number of participants" /></li>
                    </ul>
                    <button v-on:click="submit">Submit</button><span v-if="message != undefined">{{message}}</span>
                </div>
            `,
            methods: {
                submit(){
                    this.$emit('edit-tournament', this.tournament);
                }
            }
        });
        Vue.component('accountview', {
            props: [ 'user', 'editingprofile'],
            template: `
            <div class="informationcolumn">
                <ul>
                    <div class="informationbox">
                        <li>{{user.name}}</li>
                        <li>Rating: {{user.rating}}</li>
                        <li>
                            <ul>
                                <li>{{user.adress.street}} {{user.adress.streetnumber}}</li>
                                <li>{{user.adress.city}}, {{user.adress.postalcode}}</li>
                            </ul>
                        </li>
                        <li>Tournaments: {{user.tournaments.map(tournament => tournament.name)}}</li>
                    </div>
                </ul>
                <button v-if="!editingprofile" v-on:click="edit">Edit profile</button>
            </div>
            `,
            methods: {
                edit(){
                    this.$emit('edit-profile');
                }
            }
        });
        Vue.component('tournamentlist', {
            props: [ 'tournaments', 'loggedin' ],
            template: `
                <div class="informationcolumn">
                    <ul>
                        <li 
                            v-for="tournament in tournaments">
                                <div class="informationbox">
                                    {{tournament.club}}'s {{tournament.name}}</br>                                    
                                    <ul>
                                        <li>{{tournament.adress.street}} {{tournament.adress.streetnumber}}</li>
                                        <li>{{tournament.adress.city}}, {{tournament.adress.postalcode}}</li>
                                    </ul>
                                    When? {{tournament.tournamentDate}}</br>
                                    Max. {{tournament.maxParticipants}} participants</br>
                                    <span v-if="loggedin">Distance is {{tournament.distanceToUser.toFixed(1)}} kilometers</span></br>
                                    <template v-if="loggedin">
                                        <div class="button"  v-if="tournament.canSignUp" v-on:click="signup(tournament)">Sign up</div>
                                        <div class="disabledbutton"  v-else>Sign up</div>
                                        <div class="button"  v-if="tournament.canSignUp" v-on:click="closetournament(tournament)">Close</div>
                                        <div class="disabledbutton"  v-else>Close</div>
                                        <div class="button" v-on:click="edittournament(tournament)">Edit</div>
                                        <div class="button" v-on:click="createplanning(tournament)" v-if="tournament.planning == null">Create planning</div>
                                        <div class="button" v-on:click="viewplanning(tournament)" v-else>View planning</div>
                                    </template>
                                </div>
                        </li>
                    </ul>
                    <button v-on:click="createtournament" v-if="loggedin">New tournament</button>
                </div>
            `,
            methods: {
                edittournament(tournament){
                    this.$emit('edit-tournament', tournament);
                },
                createtournament(){
                    this.$emit('create-tournament');
                },
                signup(tournament){
                    this.$emit('sign-up', tournament);
                },
                closetournament(tournament){
                    this.$emit('close-tournament', tournament);
                },
                createplanning(tournament){
                    this.$emit('create-planning', tournament);
                },
                viewplanning(tournament){
                    this.$emit('view-planning', tournament);
                }
            }
        });
          const app = new Vue({
            el: "#app",
            data:{
                user : undefined,
                tournaments : undefined,
                editingprofile : false,
                editprofilemessage: undefined,
                edittournamentmessage: undefined,
                creatingtournament : false,
                tournamenttoedit: undefined,
                editingtournament: false,
                planning: null,
                matchToEdit: null
            },
            computed: {
                loggedin(){
                    return this.user != undefined;
                }
            },
            created:
                function () {
                    this.login();
                    this.getTournaments();
            },
            methods: {
                async login(){
                    console.log("logging in");
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const response = await fetch("/user", {
                        method: 'GET',
                        headers: {
                            'Accept' : 'application/json',
                            'X-XSRF-TOKEN': cookie
                        }
                    });
                    if(response.status != 401){
                        const user = await response.json();
                        console.log(user);
                        this.user = user;
                        if(user.name == null){
                            this.editingprofile = true;
                        }
                    }
                },
                async logout(){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const response = await fetch("/logout", {
                        method: 'POST',
                        headers: {
                            'X-XSRF-TOKEN': cookie
                        }
                    });
                    this.editingprofile = undefined;
                    this.editprofilemessage = undefined;
                    this.user = undefined;
                },
                async checkInputAndEditProfile(username, useradress, userrating){
                    let inputvalid = await this.checkInput(username, useradress, userrating);
                    if(inputvalid){
                        this.updateProfile(username, useradress, userrating);
                        this.getTournaments();
                    }
                },
                async checkInput(username, useradress, userrating){                    
                    let namevalid = this.checkName(username);
                    let adressvalid = await this.checkAdress(useradress);
                    let ratingvalid = this.checkRating(userrating);
                    return namevalid && adressvalid && ratingvalid;
                },
                checkName(name){
                    return name != null;
                },
                checkRating(rating){
                    return rating > 0;
                },
                async checkAdress(adress){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const checkadress = await fetch("/checkadress", {
                        method: 'POST',
                        headers: {
                            'X-XSRF-TOKEN': cookie,
                            'Accept' : 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(adress)
                    });
                    const adressValid = await checkadress.json();
                    if(!adressValid){
                        console.log("adress invalid")
                        this.editprofilemessage = this.createEditProfileMessage(checkadress.status);
                        return false;
                    }
                    else{
                        return true;
                    }
                },
                async updateProfile(username, useradress, userrating){
                    this.user.name=username;
                    this.user.adress = useradress;
                    this.user.rating = userrating;
                    console.log(this.user);
                    var cookie = this.getCookie("XSRF-TOKEN");
                    const editprofile = await fetch("/editprofile", {
                        method: 'POST',
                        headers: {
                            'X-XSRF-TOKEN': cookie,
                            'Accept' : 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.user)
                    });
                    this.editingprofile = false;
                    this.editprofilemessage = undefined;
                },
                async getTournaments(){
                    const response = await fetch("/tournaments", {
                        method: "GET",
                        headers: {
                            'Accept' : 'application/json'
                        }
                    });
                    const tournaments = await response.json();
                    this.tournaments = tournaments;
                    tournaments.forEach(tournament => {
                        this.closeIfNeeded(tournament);
                    });
                },
                async closeIfNeeded(tournament){
                    const today = new Date();
                    const tournamentDate = new Date(tournament.tournamentDate);
                    if(today >= tournamentDate && tournament.canSignUp){
                        this.closetournament(tournament);
                    }
                },
                async createtournament(tournament){
                    let namevalid = this.checkName(tournament.name);
                    let adressvalid = await this.checkAdress(tournament.adress);
                    if(namevalid && adressvalid){
                        var cookie = this.getCookie("XSRF-TOKEN");
                        const response = await fetch("/createTournament", {
                            method: "POST",
                            headers: {
                                'X-XSRF-TOKEN': cookie,
                                'Accept' : 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(tournament)
                        });
                        tournament = await response.json();
                        this.getTournaments();
                        this.edittournamentmessage = undefined;
                        this.creatingtournament = false;
                        this.tournamenttoedit = undefined;
                    }
                    else{
                        this.edittournamentmessage = "Input incomplete";
                    }
                },
                async edittournament(tournament){
                    let namevalid = this.checkName(tournament.name);
                    let adressvalid = await this.checkAdress(tournament.adress);
                    if(namevalid && adressvalid){
                        var cookie = this.getCookie("XSRF-TOKEN");
                        const response = await fetch("/editTournament", {
                            method: "POST",
                            headers: {
                                'X-XSRF-TOKEN': cookie,
                                'Accept' : 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(tournament)
                        });
                        tournament = await response.json();
                        this.getTournaments();
                        this.edittournamentmessage = undefined;
                        this.editingtournament = false;
                        this.tournamenttoedit = undefined;
                    }
                    else{
                        this.edittournamentmessage = "Input incomplete";
                    }
                },
                async signUpForTournament(tournament){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    var response = await fetch("/signUpForTournament?tournamentID=" + tournament.tournamentID, {
                        method: "POST",
                        headers: {
                            'X-XSRF-TOKEN': cookie,
                            'Accept' : 'application/json'
                        }
                    });
                    user = await response.json();
                    this.user = user;
                    this.getTournaments();
                },
                async closetournament(tournament){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    var response = await fetch("/closeTournament?tournamentID=" + tournament.tournamentID, {
                        method: "POST",
                        headers: {
                            'X-XSRF-TOKEN': cookie
                        }
                    });
                    tournament.canSignUp = false;
                },
                async createPlayers(){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    var response = await fetch("/createPlayers", {
                        method: "POST",
                        headers: {
                            'X-XSRF-TOKEN': cookie
                        }
                    });
                },
                async viewplanning(tournament){
                    console.log(tournament.planning);
                    this.planning = tournament.planning;
                },
                async createplanning(tournament){
                    var cookie = this.getCookie("XSRF-TOKEN");
                    var response = await fetch("/createPlanning?tournamentID=" + tournament.tournamentID, {
                        method: "POST",
                        headers: {
                            'X-XSRF-TOKEN': cookie,
                            'Accept' : 'application/json'
                        }
                    });
                    var planning = await response.json();
                    this.planning = planning;
                    tournament.canSignUp = false;
                },
                getCookie(cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                },
                createEditProfileMessage(statuscode){
                    if(statuscode == 404){
                        return "The given adress was not found.";
                    }
                    else{
                        return "The adress and postal code do not match.";
                    }
                },
                startTournamentCreation(){
                    this.tournamenttoedit = {
                        tournamentDate: undefined,
                        adress: {
                            street: undefined,
                            streetnumber: undefined,
                            city: undefined,
                            postalcode: undefined
                        },
                        club: undefined,
                        maxParticipants: undefined,
                        amountOfParticipants: undefined,
                        distanceToUser: undefined
                    };
                    this.creatingtournament = true;
                },
                startTournamentEdit(tournament){
                    this.tournamenttoedit = tournament;
                    this.editingtournament = true;
                }
            }

          })
      </script>
</body>
</html>